$dark-green : #265B0B;
$primary-green : #43A745;
$grey-text : #717171;

$alert:('danger-color' : #EC3E33,
  'danger-bg' : #FDF1F0,
  'success-color' : #50C264,
  'success-bg' : #E8FFF1,

);



body {
  background-color: #F1F1F1;
}

.jumbotron {
  background-color: white;
}

.container {
  font-family: 'Montserrat', sans-serif;
}

.display-3 {
  font-weight: 700 !important;
}

.search-table {
  max-width: 200px;
}

.cart-badge {
  position: relative;
  top: -10px;
  left: -15px;
}

.dark-green-text {
  color: $dark-green !important;
}

.grey-text {
  color: $grey-text;
}

.borderless {
  border: 0px;
}

.grayscale {
  filter: grayscale(100%);
  opacity: 30%;
}

.brand {
  width: 70px;
}

@media (min-width: 997px) {
  .jumbotron {
    background-position-x: 105%;
    background-position-y: 40%;
    background-size: 45%;
    background-repeat: no-repeat;
    background-image: url("../img/vegy-jumbotron.png");
  }
}

.input-search {
  background: white !important;
  border: 0px;
  height: 70px;
  margin-bottom: 50px;
  box-shadow: 10px -1px 23px -2px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 10px -1px 23px -2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 10px -1px 23px -2px rgba(0, 0, 0, 0.12);

  input {
    height: 70px;
    border: 0px;
  }

  .input-group-text {
    background: white;
    border: 0px;
  }
}

.card {
  border: 0px;
}

.breadcrumb {
  background-color: transparent !important;

  & &-item a {
    color: $dark-green;
  }
}

.best-seller {
  display: flex;
  margin-left: auto;
  margin-bottom: -16px;
  z-index: 99;
}

.delete-order {
  color: #858585;

  &:hover {
    color: #ac3733;
  }
}


.input-number {

  width: 55px !important;
  text-align: center !important;
  font-weight: bold !important;
  font-size: 25px !important;
  height: 40px !important;
  border: none !important;
  border-bottom: solid 2px #ccc !important;
  box-shadow: none !important;
  position: relative;
}

.input-container {
  position: relative;
  height: 40px;
  display: block;
  margin: 0 15px;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 10px;
    background-color: #ccc !important;
    z-index: 10;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2px;
    height: 10px;
    background-color: #ccc !important;
    z-index: 10;
  }
}

.btn-number {
  border-radius: 50% !important;
  border-color: #ccc !important;
  color: #ccc !important;
  outline: none !important;
  font-size: 20px !important;
  padding: 3px !important;
  width: 35px;
  height: 35px;

}

.product-img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.link {
  color: $grey-text;

  &:hover {
    color: $dark-green;
  }
}

.card-header {
  background-color: transparent;
}

.badge-success-table {
  background-color: map-get($alert, 'success-bg');
  color: map-get($alert, 'success-color');
}

.badge-danger-table {
  background-color: map-get($alert, 'danger-bg');
  color: map-get($alert, 'danger-color');
}

.item-right {
  display: flex;
  margin-left: auto;
}


.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: $primary-green;
  border-color: $primary-green;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: $primary-green;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.nav-link {
  color: $primary-green;
}

.nav-link:hover {
  color: $dark-green;
}
