@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

.container{
    font-family: 'Montserrat', sans-serif ;
}
.display-3{
    font-weight: 700 !important;
}
.search-table{
    max-width: 200px;
    display: flex;
  justify-content: center;
}