
body{
    background-color: #F1F1F1;
}
.jumbotron{
    background-color: white;
}
.container{
    font-family: 'Montserrat', sans-serif ;
}
.display-3{
    font-weight: 700 !important;
}
.search-table{
    max-width: 200px;
    display: flex;
  justify-content: center;
}
.cart-badge{
    position: relative;
    top: -10px;
    left: -15px;
}
.dark-green-text{
    color: #265B0B !important;
}
.grey-text{
    color: #717171;
}
.borderless{
    border:0px;
}
.grayscale{
    filter: grayscale(100%);
    opacity: 30%;
}
.brand{
    width: 70px;
}
@media (min-width: 997px) {
.jumbotron{
    background-position-x: 105%;
    background-position-y: 40%;
    background-size: 45%;
    background-repeat: no-repeat;
    background-image: url("../img/vegy-jumbotron.png");
}
}
.input-search{
    background: white !important;
    border: 0px;
    height: 70px;
    margin-bottom: 50px;
    box-shadow: 10px -1px 23px -2px rgba(0,0,0,0.12);
-webkit-box-shadow: 10px -1px 23px -2px rgba(0,0,0,0.12);
-moz-box-shadow: 10px -1px 23px -2px rgba(0,0,0,0.12);
}
.input-search input{
    height: 70px;
    border: 0px;
}
.input-search .input-group-text{
    background: white;
    border: 0px;
}
.card{
    border: 0px;
}

.breadcrumb {
    background-color: transparent !important;
}
.breadcrumb-item a{
    color: #265B0B;
}
.best-seller {
    display: flex;
    margin-left: auto;
  }