
body{
    background-color: #F1F1F1;
}
.jumbotron{
    background-color: white;
}
.container{
    font-family: 'Montserrat', sans-serif ;
}
.display-3{
    font-weight: 700 !important;
}
.search-table{
    max-width: 200px;
    display: flex;
  justify-content: center;
}
.cart-badge{
    position: relative;
    top: -10px;
    left: -15px;
}
.dark-green-text{
    color: #265B0B !important;
}
.grey-text{
    color: #717171;
}
.borderless{
    border:0px;
}
.grayscale{
    filter: grayscale(100%);
    opacity: 30%;
}
.brand{
    width: 70px;
}
@media (min-width: 997px) {
.jumbotron{
    background-position-x: 105%;
    background-position-y: 40%;
    background-size: 45%;
    background-repeat: no-repeat;
    background-image: url("../img/vegy-jumbotron.png");
}
}
.input-search{
    background: white !important;
    border: 0px;
    height: 70px;
    margin-bottom: 50px;
    box-shadow: 10px -1px 23px -2px rgba(0,0,0,0.12);
-webkit-box-shadow: 10px -1px 23px -2px rgba(0,0,0,0.12);
-moz-box-shadow: 10px -1px 23px -2px rgba(0,0,0,0.12);
}
.input-search input{
    height: 70px;
    border: 0px;
}
.input-search .input-group-text{
    background: white;
    border: 0px;
}
.card{
    border: 0px;
}

.breadcrumb {
    background-color: transparent !important;
}
.breadcrumb-item a{
    color: #265B0B;
}
.best-seller {
    display: flex;
    margin-left: auto;
    margin-bottom: -16px;
    z-index: 99;
  }
  .delete-order{
      color: #858585;
  }
  .delete-order:hover{
      color: #ac3733;
  }


/* input number */
.input-number{
  
    width: 55px !important;
    text-align: center!important;
    font-weight: bold!important;
    font-size: 25px!important;
    height: 40px!important;
    border:none!important;
    border-bottom: solid 2px #ccc!important;
    box-shadow: none!important;
    position:relative;
}
.input-container{
    position: relative;
    height: 40px;
    display: block; 
    margin: 0 15px;
}
.input-container:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 10px;
    background-color: #ccc!important;
    z-index:10;
}
.input-container:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2px;
    height: 10px;
    background-color: #ccc!important;
    z-index:10;
}
.btn-number{
    border-radius: 50%!important;
    border-color: #ccc!important;
    color: #ccc!important;
    outline: none!important;
    font-size: 20px!important;
    padding: 3px!important;
    width: 35px;
    height: 35px;
    
}
.product-img{
        width: 100%;
        height: 15vw;
        object-fit: cover;
}
.link{
    color: #717171;
}
.link:hover{
    color: #265B0B;
}